# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Builds (excepto frontend/dist que sí se necesita para GitHub Pages)
dist
!frontend/dist
dist-ssr

# Archivos locales de entorno
*.local
.env
.env.local
.env.*.local

# Configuración de editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
Thumbs.db
