#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Lista de links */
.nav-links {
  list-style: none;
  display: flex;  /* <-- Esto hace que salgan en fila */
  gap: 1.5rem;    /* Espacio entre links */
  margin: 0;
  padding: 0;
  margin-left: auto; /*los empuja a la derecha*/
}

/* Links individuales */
.nav-links li a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #005fa3;
}